@use '../abstracts/' as a;

.case-info-con {
    display: flex;
    justify-content: space-between;
}

.tools-p {
    width: 50%;
    text-align: right;
}

.case-info {
    margin-bottom: 15px;
}

.case-content .decorative-p {
    margin: auto;
    color: a.$main-color;
}