#thank-you {
    height: 60vh;
}

.ty-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ty-message .decorative-h {
    font-size: 64px;
}