$primary-text-color: #1a1a1a;
$bg-color: #FFFAF5;
$accent-color: #FF4B00;
$accent-color-sec: #1C2FFF;

h1 {
    font-size: 128px;
    line-height: 1;
}

h1, h2, h3, p, a {
    color: $primary-text-color;
    font-family: "Manrope", sans-serif;
}

body {
    background-color: $bg-color;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navigation ul {
    margin-left: auto;
    margin-top: 0;
}

.navigation ul li {
    list-style: none;
}

.navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.header-sec {
    display: flex;
    justify-content: space-between;
}

.header-sec img {
    height: 22px;
    width: 96px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    background-color: $primary-text-color;
    backdrop-filter: blur(50px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}

.sidebar.show {
    opacity: 1;
    visibility: visible;
}

.sidebar li {
    padding-bottom: 32px;
    width: 100%;

}

.sidebar li a {
    width: 100%;
}

.mobile-hidden {
    display: none;
}

.desktop-hidden {
    display: flex;
    margin-top: 30px;
}

.accent-heading {
    font-family: 'Wildcut';
}

.hidden {
    display: none;
}

.box-gray {
    background-color: $primary-text-color
}

.burger {
    height: 40px;
    width: 40px;
    background-color: $primary-text-color;
}

.burger-box {
    padding: 30px;
    padding-top: 50px;
}

.logo {
    height: 130px;
}

.welcome-descriptor {
    height: 20px;
    margin-top: 320px;
}

.welcome-heading {
    height: 128px;
    margin-top: 10px;
}

.welcome-text {
    height: 50px;
    margin-top: 15px;
}

.main-video {
    width: 100%;
    margin-top: 80px;
}

.hailing-text {
    height: 140px;
    margin-top: 320px;
}

.hailing-button {
    height: 15px;
    margin-top: 5px;
    margin-bottom: 320px;
}

.selected-heading {
    height: 24px;
}


.project {
    display: flex;
    flex-direction: column;
}


.preview {
    height: 400px;
    margin-top: 40px;
}

.preview-heading {
    height: 20px;
    margin-top: 20px;
    width: 30%;
}

.preview-descrpition {
    width: 65%;
}

.preview-button {
    width: 30%;
}

.preview-descrpition, .preview-button {
    height: 55px;
    margin-top: 15px;
}

.preview-desc-button {
    display: flex;
    justify-content: space-between;
}

#more-button {
    height: 30px;
}

#contact {
    margin-top: 80px;
}

.h2-descriptor {
    height: 15px;
}

.h2 {
    margin-top: 10px;
    height: 24px;
    margin-bottom: 70px;
}

.body-l {
    height: 20px;
}

.body-form, .body-form-box {
    margin-top: 10px;
    margin-bottom: 30px;
    height: 20px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.body-form-box {
    width: 48%;
}

.contact-button {
    height: 50px;
}

footer {
    margin-top: 90px;
    margin-bottom: 30px;
}

.footer-logo {
    height: 30px;
}

.footer-button {
    margin-top: 20px;
    height: 20px;
}

.self {
    display: none;
}

@media screen and (min-width: 768px){

    .header nav ul {
        display: flex;
        align-items: center;
        width: 70%;
        justify-content: space-between;
    }

    .header nav ul li a {
        color: $primary-text-color;

    }
    
    .mobile-hidden {
        display: flex;
    }
    
    .desktop-hidden {
        display: none;
    }
    
    #desk-hid {
        display: none;
    }
    .burger-box {
        display: none;
    }

    .m-header-menu {
        display: flex;
        flex-direction: row;
        height: 20px;
        justify-content: space-between;
        align-self: center;
    }
    .header-button {
        height: 20px;
        width: 30%;
    }

    .welcome-video {
        height: 500px;
    }

    .hailing-text {
        margin-top: 380px;
    }

    .hailing-button {
        margin-bottom: 340px;
    }

    .preview-descrpition {
        width: 85%;
    }
    
    .preview-button {
        width: 10%;
    }

    .footer-button {
        margin-top: 0;
        align-self: end;
    }
}

@media screen and (min-width: 1200px) {



    .welcome-text {
        align-self: end;
    }

    .welcome-video {
        height: 730px;
        margin-top: 20px;
    }

    .hailing-text {
        margin-top: 280px;
        height: 250px;
    }

    .hailing-button {
        margin-bottom: 240px;
    }

    .h2, .h2-descriptor {
        padding-left: 60px;
    }
    
    .h2 {
        margin-bottom: 170px;
    }

    .self {
        display: block;
        height: 70%;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    #contact {
        position: relative;
    }


}