@use '../abstracts/' as a;

.work-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 100px;
}

.descriptor {
    font-size: 12px;
    color: a.$main-grey;
    margin-top: 25px;
    margin-bottom: 5px;
}



.work-card-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    width: 100%;
}