@use '../abstracts/' as a;

footer{
    background-color: a.$main-bg-white;
    margin-top: 50px;
    border-top: 1px solid a.$main-grey;
}

#footer-div ul li {
    margin: 10px 0;
}

#footer-div ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-log {
    height: 200px;
}

#footer-div .descriptor {
    margin-bottom: 15px;
}