#header-logo {
    height: 100px;
}

#burger-div {
    display: flex;
    justify-content: center;
    align-items: center;
}


#burger {
    height: 40px;
    width: 40px;
}

.main-nav-ul {
    display: none;
}

#header-mobile a {
    height: 300%;
}

@media screen and (min-width: 768px){
    .main-nav-ul {
        display: flex;
        justify-content: space-between;
    }

    .main-nav {
        width: 100%;
    }

    #burger {
        display: none;
    }
}

@media screen and (min-width: 1200px) {

}