@use '../abstracts/' as a;

body {
    font-family: 'Manrope', Arial, sans-serif;
}

.mobile-hidden {
    display: none;
}

.welcome-h2 {
    font-size: 36px;
    line-height: .9;
    color: a.$main-color;
    font-weight: 1200;
    font-family: 'ZI_SQUARE';

}
.welcome-coord {
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    text-align: right;
    letter-spacing: 1.1px;
}

a:hover {
    cursor: pointer;
}

a, p, h1, h2, h3, li {
    color: a.$main-bg;
    list-style-type: none;
    text-decoration: none;
}

ul {
    padding: 0;
}

.welcome-text {
    font-weight: 300;
    font-size: 12px;
    text-align: right;
}

.more-link p {
    text-align: left;
}

.more-link p span {
    margin-left: 30px;
}

.welcome-text {
    font-size: 15px;
}

.pos-span {
    font-family: 'ZI_SQUARE';
    font-size: 11px;
    margin-left: 20px;
    color: a.$main-color;
}



.hailing-text {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500;
    color: a.$main-bg;
}

.hailing-text span {
    color: a.$main-bg;
}

.works-h2 {
    margin-bottom: 20px;
    font-weight: 500;
    letter-spacing: -4px;
    font-size: 86px;
    color: a.$main-bg;
    margin-top: 30px;
    line-height: .8;
}


.card-heading {
    color: a.$main-bg;
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card-cols .main-p {
    color: a.$main-bg;
}

.cta-heading {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 100px;
    color: a.$main-bg;
}

.page-h2 {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -3px;
}
.decorative-h {
    font-family: 'ZI_SQUARE';
    font-size: 36px;
}

.main-p {
    font-size: 15px;
    color: a.$main-grey;
}


.decorative-p {
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 25px;
}

.chapter-h3 {
    font-size: 15px;
    line-height: 1;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 20px;
}

.form-heading-h3 {
    font-size: 20px;
    font-weight: 300;
}

.case-p {
    font-size: 15px;
    color: a.$main-white;
    line-height: 1.5;
    margin: 20px 0;
    font-weight: 300;
    color: a.$main-grey;
}

.view-link {
    transition: all .3s ease-out;
}

.view-link:hover {
    color: a.$main-color;
    transition: all .3s ease-out;
}

@media screen and (min-width: 768px) {
    .hailing-text {
        font-size: 36px;
    }
    
    .work-card-text .main-p {
        width: 30%;
    }


    .work-card-text .main-p {
        width: 40%;
    }

    .page-h2 {
        font-size: 110px;
        font-weight: 500;
        letter-spacing: -3px;
    }

    .decorative-h {
        font-size: 40px;
    }

    .decorative-p {
        font-size: 90px;
        margin-left: -10px;
    }

    .mobile-hidden {
        display: block;
    }

    .welcome-h2 {
        margin-bottom: 10px;
        font-size: 90px;
    
    }
    .welcome-span {
        font-size: 100px;
    }

    .pos-text {
    font-size: 15px;
    font-weight: 700;
    line-height: .9;
}

    .welcome-pos .pos-text:nth-of-type(1) {
        margin-left: 20px;
    }
    .welcome-pos .pos-text:nth-of-type(2) {
        margin-left: 0px;
    }
    .welcome-pos .pos-text:nth-of-type(3) {
        margin-left: 50px;
    }

    .welcome-coord {
        font-size: 40px;
        font-weight: 600;
    }

    .card-heading {
        font-size: 40px;
        line-height: .9;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .card-heading-div .main-p {
        width: 70%;
    }

    .card-desc .main-p {
        margin-top: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .welcome-h2 {
        font-size: 150px;
    }

    .work-card-text .main-p {
        width: 40%;
    }

    .works-h2 {
        font-size: 150px;
        line-height: .9;
    }
}
