@use '../abstracts/' as a;

body {
    font-family: 'Manrope', Arial, sans-serif;
}

.mobile-hidden {
    display: none;
}

.welcome-h2 {
    font-size: 42px;
    line-height: .9;
    margin-bottom: 10px;
    color: a.$main-color;
    font-weight: 1200;
    font-family: 'ZI_SQUARE';

}
.welcome-coord {
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    text-align: right;
    letter-spacing: 1.1px;
}

a:hover {
    cursor: pointer;
}

a, p, h1, h2, h3, li {
    color: a.$main-white;
    list-style-type: none;
    text-decoration: none;
}

ul {
    padding: 0;
}

.welcome-text, .more-link p {
    font-weight: 300;
    font-size: 12px;
    text-align: right;
}

.welcome-text {
    font-size: 15px;
}

.pos-span {
    font-family: 'ZI_SQUARE';
    font-size: 11px;
    margin-right: 20px;
}

.pos-text {
    font-size: 15px;
    font-weight: 700;
    line-height: .9;
}


.hailing-text {
    font-size: 20px;
    margin-bottom: 25px;
}

.works-h2 {
    margin-bottom: 25px;
    font-weight: 500;
}

.work-card-text .main-p {
    width: 60%;
    color: a.$main-grey;
    font-weight: 400;
}

.cta-heading {
    font-size: 60px;
    line-height: 1;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 100px;
}

.page-h2 {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: -3px;
}
.decorative-h {
    font-family: 'ZI_SQUARE';
    font-size: 36px;
}

.main-p {
    font-size: 15px;
    color: a.$main-grey;
}


.decorative-p {
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 25px;
}

.chapter-h3 {
    font-size: 32px;
    line-height: 1;
    font-weight: 500;
}

.form-heading-h3 {
    font-size: 20px;
    font-weight: 300;
}

.case-p {
    font-size: 15px;
    color: a.$main-white;
    line-height: 1.5;
    margin: 50px 0;
}

.case-content .chapter-h3 {
    margin-top: 50px;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
    .hailing-text {
        font-size: 36px;
    }
    
    .work-card-text .main-p {
        width: 30%;
    }


    .work-card-text .main-p {
        width: 40%;
    }

    .page-h2 {
        font-size: 110px;
        font-weight: 500;
        letter-spacing: -3px;
    }

    .decorative-h {
        font-size: 40px;
    }

    .decorative-p {
        font-size: 90px;
        margin-left: -10px;
    }

    .mobile-hidden {
        display: block;
    }

    .welcome-h2 {
        letter-spacing: -10px;
        margin-bottom: 10px;
        font-size: 90px;
    
    }
    .welcome-span {
        font-size: 100px;
    }

    .pos-text {
    font-size: 15px;
    font-weight: 700;
    line-height: .9;
}

    .welcome-pos .pos-text:nth-of-type(1) {
        margin-left: 20px;
    }
    .welcome-pos .pos-text:nth-of-type(2) {
        margin-left: 0px;
    }
    .welcome-pos .pos-text:nth-of-type(3) {
        margin-left: 50px;
    }

    .welcome-coord {
        font-size: 40px;
        font-weight: 600;
    }
}

@media screen and (min-width: 1200px) {
    .welcome-h2 {
        font-size: 150px;
    }

    .work-card-text .main-p {
        width: 40%;
    }


}
