@font-face {
    font-family: 'ZI_SQUARE';
    src: url('../fonts/ZI_SQUARE.woff2') format('woff2'),
         url('../fonts/ZI_SQUARE.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  